@use './../variables.scss';

.container {
  padding-bottom: 20px;
}

.answers {
  min-height: 32px;
  * {
    @include variables.font-s;
  }

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  display: flex;
  align-items: center;
  border-radius: 4px;
  padding-left: 15px;

  &.default {
    background-color: variables.$neutral-light;
  }

  &.correct {
    background-color: variables.$success-light;
  }

  &.wrong {
    background-color: variables.$danger-light;
  }
}

.input {
  accent-color: variables.$primary;
  margin: 0;
}

.input:checked + label {
  font-weight: bold;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;

  * {
    margin: 0px;
  }

  .correctHint {
    display: none;
    @include variables.screen-size-m-and-up {
      display: block;
      margin-left: 20px;
    }
  }

  code {
    // Ensure code elements don't overflow
    white-space: pre-wrap;
    word-break: break-all;
  }

  img {
    // Ensure images don't overflow
    max-width: 100%;
  }
}
