@use './../variables.scss';

.container {
  padding-bottom: 8px;
}

.answers {
  min-height: 32px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 8px 8px 8px 16px;

  &.default {
    background-color: variables.$neutral-light;
  }

  &.correct {
    background-color: variables.$success-light;
  }

  &.wrong {
    background-color: variables.$danger-light;
  }
}

.input {
  accent-color: variables.$primary;
  margin: 0;
}

.input:checked + label {
  font-weight: bold;
}

.label {
  flex-grow: 1;
  width: 100%;
  padding: 0 8px;

  * {
    margin: 0px;
  }
}
