@use '../variables.scss';

.form {
  .fieldset {
    border-radius: 4px;
    background-color: white;
    border: none;
    padding-bottom: 8px;
  }

  .legend {
    border-radius: 4px;
    background-color: white;
    text-align: right;
    @include variables.font-s;
  }
}

.buttonBar {
  display: flex;
  justify-content: flex-end;
}

.endQuizButton {
  margin-right: 2px;
}

.confirmButton {
  min-width: 80px;
}

.declineButton {
  min-width: 80px;
  margin-right: 4px;
}

.confirmation {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .p {
    margin-right: 12px;
  }
}
