@use '../variables.scss';

.question {
  @include variables.font-m;

  .text {
    padding: 8px 8px 8px 16px;
    border-radius: 4px;
  }

  .hint {
    @include variables.font-s;
    padding: 8px 8px 8px 16px;
    margin: 8px 0;
    border-radius: 4px;
  }
}
