@use '../variables.scss';

.question {
  @include variables.font-m;

  .text {
    margin-bottom: 20px;
    img {
      // Ensure images don't overflow
      max-width: 100%;
    }
  }

  .hint {
    @include variables.font-s;
    margin: 0;
    padding: 0 0 20px 0;
  }
}
