@use './../variables.scss';

.result {
  .h2 {
    @include variables.font-l;
  }

  .table {
    width: 100%;
    margin-bottom: 24px;
    border-collapse: collapse;
  }

  .caption {
    padding-bottom: 16px;
    @include variables.font-s;
    text-align: left;
  }

  .tr {
    border-color: variables.$neutral;
    border-bottom: 1px solid;
    border-top: 1px solid;
    background-color: white;
    @include variables.font-s;

    &:hover {
      background-color: variables.$neutral-light;
    }
  }

  .resultViewerCell {
    // Trick to make text truncation work
    width: 100%;
    max-width: 0;
  }

  .th {
    text-align: left;
    padding: 16px 8px;
    @include variables.font-s;
  }

  .td {
    vertical-align: top;
    padding: 16px 8px;
  }

  .iconCell {
    width: 20px;
  }

  .linkIcon,
  .chevronIcon {
    color: variables.$neutral-dark;
    @include variables.font-s;
    cursor: pointer;
  }

  .correctIcon {
    color: variables.$success;
    @include variables.font-l;
  }

  .incorrectIcon {
    color: variables.$danger;
    @include variables.font-l;
  }

  .centered {
    text-align: center;
  }

  .buttonBar {
    display: flex;
    justify-content: flex-end;
  }

  .hideOnMobile {
    display: none;
    @include variables.screen-size-s-and-up {
      display: block;
    }
  }

  .hideOnDesktop {
    display: block;
    @include variables.screen-size-s-and-up {
      display: none;
    }
  }
}
