@use './../variables.scss';

.result {
  .h3 {
    @include variables.font-m;
  }

  .table {
    width: 100%;
    margin-bottom: 24px;
    border-collapse: collapse;
  }

  .caption {
    padding-bottom: 16px;
    @include variables.font-m;
    text-align: left;
  }

  .tr {
    border-color: variables.$neutral;
    border-bottom: 1px solid;
    border-top: 1px solid;
  }

  .th {
    text-align: left;
    padding: 15px 0;
  }

  .centered {
    text-align: center;
  }

  .buttonBar {
    display: flex;
    justify-content: flex-end;
  }
}
