@use './variables.scss';

.quizRecap {
  background-color: white;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 16px;

  .h2 {
    padding-bottom: 8px;
    @include variables.font-l;
  }

  .h3 {
    padding-bottom: 8px;
    @include variables.font-m;
  }

  .p {
    padding-bottom: 6px;
  }

  .ul {
    text-align: center;
    list-style: none;
    padding-left: 0px;
  }

  .li:not(:last-child) {
    margin-bottom: 2px;
  }

  .button {
    width: 50%;
  }
}
