.quizRecap {
  background-color: white;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 16px;

  .h2 {
    padding-bottom: 8px;
    font-size: 20px;
    line-height: 28px;
  }

  .h3 {
    padding-bottom: 8px;
    font-size: 18px;
    line-height: 28px;
  }

  .p {
    padding-bottom: 6px;
  }

  .ul {
    text-align: center;
    list-style: none;
  }

  .li:not(:last-child) {
    margin-bottom: 2px;
  }

  .button {
    width: 50%;
  }
}
