@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #93c5fd; /* blue-300 */
    --color-primary-light: #bfdbfe; /* blue-200 */

    --color-neutral: #737373; /* neutral-500 */
    --color-neutral-light: #f5f5f5; /* neutral-100 */

    --color-success: #4ade80; /* green-400 */
    --color-success-light: #bbf7d0; /* green-200 */

    --color-danger: #f87171; /* red-400 */
    --color-danger-light: #fca5a5; /* red-300 */
  }
}
