@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Colors are from the Tailwind default color palette
  https://tailwindcss.com/docs/customizing-colors
*/

@layer base {
  :root {
    --color-primary: #3b82f6; /* blue-500 */
    --color-primary-dark: #2563eb; /* blue-600 */

    --color-neutral: #737373; /* neutral-500 */
    --color-neutral-light: #f5f5f5; /* neutral-100 */

    --color-success: #22c55e; /* green-500 */
    --color-success-light: #86efac; /* green-300 */
    --color-success-dark: #16a34a; /* green-600 */

    --color-danger: #ef4444; /* red-500 */
    --color-danger-light: #fca5a5; /* red-300 */
    --color-danger-dark: #dc2626; /* red-600 */
  }
}
